a{
  text-decoration: none;
}
li{
    list-style-type: none;
}
button{
    cursor: pointer;
    height: 30px;
    width: 70px;
    border-radius: 3px;
  color: #ffffff;
    background: #284749;
    transition: all 0.3s;
}
button:hover{
    background-color: #FFC902;
}
body{
    font-family: 'DM Sans', sans-serif;

}

img{
width: 200px;
    object-fit: cover;
    display: block;
}
.pagination-list.for-space::after{
    content: '.....';
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;

        left: 90%;
            top: 40%;

}

*{
    padding: 0;
    margin: 0;
}
footer{
    background-color: #0d1b0a;
    height: 100px;
}


@media screen and (min-width:769px) {
    .nav-bar{
        display: block;
    }
    .open{
        display: none;
        pointer-events: none;
    }
    .link-six{
    animation: images 2s infinite alternate;
    }
    .container {
        width: 768px;
        
    }
        .under-logo {
            z-index: 2;
            position: absolute;
        animation: logo 2s running, paused;
            transition: all 1s;
    
        }
        .title{
margin-top: 100px;
        }
}
.video-player {
    display: flex;

    margin-left: auto;
}


@media screen and (max-width:768px){
    .link-six{
        animation: none;
    }
        .under-logo {
                display: none;
                pointer-events: none;
            }

}
@media screen and (min-width: 421px) {
    .video-player {
        width: 400px;
display: flex;
margin-right: auto;
margin-left: auto;
    }
.logo {
    z-index: 1;
    margin-right: 60px;
} }
    @media screen and (max-width:768px){
        .container{
            max-width: 100%;
        }
        .title{
            display: grid;
            margin-top: 0px;
        }
        .logo{
            margin-right: 5px;
        }
        .nav-bar{
            display: none;
            pointer-events: none;
        }

    }
        .container-main {
    
            padding-top: 90px;
    
        }
@media screen and (max-width:420px){

    .container{
        width: 420px;
    }
    .container-main{
        padding-top: 30px;
    }
         .video-player {
             width: 100%;
             display: block;
             margin: 0;
         }
    .logo-main{
      width: 150px;
    }

    .title{
        font-size: 20px;
    }
}
.container-header{
    position: relative;
}
.not-open{
        width: 48px;
    position: absolute;
        top: 40%;
        right: 10%;
        background-image: url(../img/menu-right-fill-svgrepo-com.svg);
        background-repeat: no-repeat;
        background-position: center;
}

.open{
        width: 48px;
    position: absolute  ;
        top: 40%;
            right: 10%;
            background-image: url(../img/menu-left-fill-svgrepo-com.svg);
            background-repeat: no-repeat;
            background-position: center;
}
@media screen and (max-width:230px) {
    .open {
        position: static;
    }

    .not-open {
        position: static;
    }
    .logo-main{
        width: 100%;
    }
}
@media screen and (min-width:1060px) {
    .container {
        width: 1060px;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
        .video-player {
            display: flex;
    width: 700px;
            margin-left: auto;
            margin-right: 0;
        }
}
.not-hiden{
    display: block;
    pointer-events: all;
    position: absolute;
        bottom: -150%;
        left: 0
}
.open-burger {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #1b2d30;
}
.nav{
    display: flex;
    align-items: center;


}
.for-bg{
background: #0d1b0a;
border-bottom: 2px solid black;
    /* background-image: url(../img/gz.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

main{
background-color: rgb(13, 27, 10);
background-image: url(../img/gz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.logo-main{
    position: relative;
    z-index: 2;
}
/* .for-bg-main{
        background-image: url(../img/gz.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

        
} */
/* .facts-page{
    background-image: url(../img/wrap.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
} */
.fortest{
        background-image: url(../img/wrap.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
}

.hero-list{
    border: 2px solid black;
   margin-right: 25px;
   margin-bottom: 25px;
    display: flex;

}
.create-list{
    display: flex;
    flex-wrap: wrap;
}
.update-list{
    background-color: #0d1b0a;
   width: 250px;
padding-left: 10px;
padding-top: 20px;
    word-wrap: normal;

    font-family: Fira Code, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    line-height: 1.4rem;
    line-height: 1.5;
    -o-tab-size: 4;
    tab-size: 4;


    word-break: normal;
    word-spacing: normal;
    color: white;
}
.block-list{
    display: block;
}
/* .btn-back{
    position: fixed;
    transform: translateX(-80px);
} */
.video-btn{
    width: 100px;
    height: 50px;
}

.title{
    font-family: 'Lora', serif;
    color: white;

    margin-bottom: 40px;
}
.nav-bar:hover{
    color: #18fdff;
    
}
.link-six{  
    color: #00ff9a;
    font-weight: 700;
        text-transform: uppercase;
        font-size: 28px;
        margin-bottom: 34px;
        /* animation: images 2s  infinite;
            animation-direction: alternate; */
}
.nav-bar.active{
    color: red;
}
.nav-bar{
    transition: color 0.5s;
}
.make-list{
    display: flex;

}

.pagination-list{

    margin: 2px;
    display: block;
    width: 28px;
        color: #ffffff;
 
            background: rgb(166 138 196);
        height: 28px;
        border-radius: 4px;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 19px;

}
.for-space {
    margin-right: 20px;
    position: relative;
}
.pagination-list:hover{
    background-color: hsl(323deg 100% 49% / 93%);
}
.pagination-list{
    transition: all 0.3s;
}
.test{
    display: flex;
    align-items: center;
    justify-content: center;
}
.current{
    background-color: #ffcc00;
}
.hinde-burder{
    display: none;
    pointer-events: none;
}
.hiden{
    display: none;
    pointer-events: none;
}
/* .five{
    margin-right: 20px;
}
.five::after{
    content: "• • •";
        position: absolute;
right: 47%;
        place-items: center;
        border-radius: 22px;
        background-color: #fff;
} */

.nav-bar{
    font-family: 'Titan One';
        font-size: 24px;
            font-style: normal;
            line-height: 1.375;
            color: white;
}
.hero-list:hover{
    border: 2px outset #E49200;
    -webkit-box-shadow: 1px 0px 15px 5px #BF7D00;
        box-shadow: 1px 0px 15px 5px #BF7D00;
   
}
.hero-list{
    transition: all 0.5s;
}
.watch-now{
            background: rgb(166 138 196);
                height: 28px;
                border-radius: 4px;
                font-family: Manrope;
                font-size: 40px;
                font-style: normal;
                font-weight: 500;
                line-height: 19px;
}
/* .seventy-facts.is-hiden{
    display: none;
    opacity: 0;
    pointer-events: none;
} */
.seventy-facts{
    
font-family: Lora, serif;
font-size: 18px;
    line-height: 27px;
    background-color: #00ffb48f;

}
@keyframes images {
    from {
            font-size: 20px;
        }

    to {
      font-size: 25px;
    }
    
}
@keyframes logo {
    from {
    transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
/* .episodes{
    display: grid;
    justify-content: center;
    align-items: center;
} */
.seventy-facts p{
    color: white;
    border: 1px solid black;
    background-color: #0d1b0a;
    margin: 20px;
}
.seventy-facts p:last-child{
    margin-bottom: 0px;
}
.random-facts{
    background-color: red;
    color: white;
}
.random-title{
    color: white;
}